# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib


# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Output folder
output
report

# Vivado stuff
*.log
*.jou
*.dcp
*.rpt
*.pb
.Xil
xsim.dir
*_xsimlog
*.wdb
*.str
Approxy
